<div class="container" style="margin-top: 20%;">
    <div class="row">
        <div *ngFor = "let game of game_list | async" class="col-md-6 mb-4">
            <div class="custom-bg-color">
                <!-- Background colour and link to single game -->
                <div class="card text-white custom-bg-color mb-3" 
                    style="cursor: pointer;" 
                    [routerLink]="['/games', game._id]">
            
                <!-- Header for card -->
                <div class="card-header">
                    <div id="gameName">
                        {{game.name}} - {{game.platform}}
                    </div>

                    <!-- <div class="gamePlatform">
                        Platform: {{game.platform}}
                    </div> -->
                </div>

                <!-- Large Image -->
                <div class="image-container">
                    <img [src]="game.image_url" class="card-img-top" alt="{{game.name}}">
                </div>


                <!-- Body for card -->
                <div class="card-body">
                    <div id="gameRating">
                        Rating: {{game.user_review}}
                    </div>
                </div>
                
                <!-- Footer for card
                <div class="card-footer">
                    
                </div> -->
            </div>
        </div>
    </div>
        <!-- Pagination -->
        <div class="row">
            <div class="col-sm-6">
                <button class="btn custom-bg-color"
                    (click)="previousPage()">Previous
                </button>
            </div>
            
            <div class="col-sm-6 text-end">
                <button class="btn custom-bg-color"
                    (click)="nextPage()">Next
                </button>
            </div>
        </div>
    </div>
</div>